body{
    margin: 0;
    padding: 0;
    background-color:  rgb(210, 233, 233);
    font-family: 'Raleway', sans-serif;
}

main {
    margin: 1%;
    padding: 1%;
    background-color: rgb(248, 246, 244) ;
    border-radius: 0.7%;

}

#title{
    text-align: center;
    font-weight: bolder;
}

#par_intro {
    text-align: center;
}

figure{
    background-color: rgb(196, 223, 223);
    border-radius: 0.7%;
}

figure > img {
    width: 80% ;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0.7%;
    

}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

figcaption {
    text-align: center;
    margin: 2%;
}

section>h2 {
    text-align: center;
}

ul {
   margin: 2% 20% 2% 20%;
   
}

ul>li {
    padding: 2%;
}

ul>li>span {
    font-weight: 900;
}

blockquote {
    margin: 2% 20% 2% 20%;

}

h3 {
    margin: 2% 10% 2% 10% ;
    text-align: center;
}